{% extends "admin/base.html" %}
{% load static %}
<link href="{% static 'external.css' %}" rel="stylesheet">

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Admin page') }}{% endblock %}

{% block extrastyle %}
<style>
body{
    background: #7070703d;
    }
h1{
    color: #000;
}
#header, .module h2, .module caption, .inline-group h2, div.breadcrumbs {
   background: #5da97d;
}
#branding{
    width: 90%;
}
.logo-top{
    font-size: 25px;
    color: rgb(0 0 0 / 90%)!important;
}
#site-name{
    float: right;
}
</style>

{% endblock %}
{% block branding %}

<a class="logo-top" href="#">
    <img src="{% static 'img/logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
    Brand Name
</a>

<h1 id="site-name"><a href="{% url 'admin:index' %}">Админ страница</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
